nav {
  background: transparent !important;
  padding: 0.5rem 4rem;
  font-family: 'Heebo', sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
  height: 105px;

  border-bottom: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(90deg, rgba(215, 53, 1, 1) 0%, #d31027 33%, #ea384d 66%, rgba(215, 53, 1, 1) 100%);

  button.uk-button.uk-button-default.uk-button-secondary {
    background-color: none !important;
  }
  .uk-navbar-nav>li>a {
    background-color: none;
  }
  button.uk-button.uk-button-default.uk-button-secondary:hover {
    color: #d73501 !important;
    border-color: #d73501 !important;
    font-weight: 700;
  }

  .mobile {
    display: none;
  }

  @media screen and (min-width: 768px) {
    position: fixed !important;
    width: 92%;
    padding: 0 4%;
    z-index: 5;
    display: flex !important;
    transition: background-color 0.5s ease-in;
    background: #070707 !important;

    &.active {
      background: #070707 !important;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 0.5rem 1rem;

    .mobile {
      display: block !important;
    }

    .desktop {
      display: none;
    }
  }

  a {
    transition: 0.4 ease-in-out;

    &:hover {
      color: #d73501 !important;
    }
  }

  img {
    height: 60px;
    width: auto;
  }

  .nav--overlay {
    visibility: hidden;
    position: fixed;
    z-index: 5;
    overflow: hidden;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    background: #222;
    transition: 0.1s ease-in-out;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &.active {
      visibility: visible;
      opacity: 1;
    }

    ul {
      list-style: none;
      margin: 0 auto;
      padding: 0
    }

    ul li {
      margin: 0 auto;
      padding: 0;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 3.618rem;

      a {
        color: white !important;
        opacity: 0.8;
      }

      a:hover {
        color: white !important;
        opacity: 1;
      }
    }
  }

  .nav--button {
    position: fixed;
    z-index: 1;
    right: 2rem;
    top: 2rem;

    &:hover {
      cursor: pointer;
    }
  }
}