nav {
  background: transparent !important;
  padding: 0.5rem 4rem;
  font-family: 'Heebo', sans-serif;
  font-weight: 100;
  letter-spacing: 1px;

  .mobile {
    display: none;
    img {
      width: 40px;
    }
  }
  @media screen and (min-width: 768px) {
    position: fixed !important;
    width: 92%;
    padding: 0 4%;
    z-index: 5;
    display: flex !important;
    transition: background-color 0.5s ease-in;
    background: rgb(255, 252, 244) !important;
    &.active {
      background: white !important;
    }
  }
  @media screen and (max-width: 768px) {
    padding: 0.5rem 1rem;
    .mobile {
      display: block !important;
    }
    .desktop {
      display: none;
    }
  }
  a {
   &:hover {
     color: black !important;
   }
  }
  img {
    max-width: 160px;
  }

  .nav--overlay {
    visibility: hidden;
    position: fixed;
    z-index: 5;
    overflow: hidden;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    background: #222;
    transition: 0.1s ease-in-out;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &.active {
      visibility: visible;
      opacity: 1;
    }
    ul {
      list-style: none;
      margin: 0 auto;
      padding: 0
    }
    ul li {
      margin: 0 auto;
      padding: 0;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 3.618rem;
      a {
        color: white !important;
        opacity: 0.8;
      }
      a:hover {
        color: white !important;
        opacity: 1;
      }
    }
  }

  .nav--button {
    position: fixed;
    z-index: 1;
    right: 2rem;
    top: 2rem;
    &:hover {
      cursor: pointer;
    }
  }
}
