@import './nav/nav';
@import './homepage/home';
@import './footer/footer';

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: #070707;
}

body {
  font-family: 'Heebo', sans-serif;
  button {
    border-radius: 3px !important;
    font-weight: 400 !important;
    letter-spacing: 1px !important;
  }
  p, h1, h2, h3 {
    font-family: 'Heebo', sans-serif;
  }
  .normal {
    font-weight: 400;
  }
}

.loader {
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background: white;
  transition: 0.2s ease-in-out;
}


.logo--holder {
  width: 100%;
  text-align: center;
  padding: 3rem;
  img {
    width: 300px;
  }
}

.not-found {
  min-height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    padding: 0 5%;
    display: inline-block;
    margin: 0;
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    color: transparent;
    background: url("https://res.cloudinary.com/ia-interactive/image/upload/v1605291118/stars-67616_1920_acajqi.jpg") center center;
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 50%;
    transition: background-size .3s ease;
  }
  h1:hover {
    background-size: 100%;
  }
}

