@import './nav/nav';
@import './homepage/banner';
@import './homepage/home';

body {
  font-family: 'Heebo', sans-serif;
  button {
    border-radius: 3px !important;
    font-weight: 400 !important;
    letter-spacing: 1px !important;
  }
  p, h1, h2, h3 {
    font-family: 'Heebo', sans-serif;
  }
}
