#hero--container {
  padding-top: 70px;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  position: relative;

  .mobile {
    display: none;
  }

  video {
    height: 100%;
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    padding-top: 0;
    .desktop {
      display: none;
    }
    .mobile {
      display: block;
    }
  }

  #hero--vivus {
    position: absolute;

    svg {
      width: 25vw;

      @media screen and (max-width: 1200px) {
        width: 33vw;
      }

      path.st0 {
        transition: fill 0.2s ease-in !important;
        fill: transparent !important;
      }
    }

    &.active {
      svg {
        path.st0 {
          stroke: transparent !important;
          fill: white !important;
        }
      }
    }
  }
}


.ocean {
  height: 0%;
  width: 100%;
  position: absolute;
  bottom: -30px;
  left: 0;
  background: #070707;
  @media screen and (max-width: 580px){
    display: none;
  }
}

.wave {
  background: url('https://res.cloudinary.com/ia-interactive/image/upload/v1605283818/wave_pwarpc.svg') repeat-x;
  position: absolute;
  top: -100px;
  width: 6400px;
  height: 100px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -100px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {

  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }

  50% {
    transform: translate3d(0, 5px, 0);
  }
}



.hero--still {
  width: 100%;
  min-height: 655px;
  background-image: url('https://res.cloudinary.com/ia-interactive/image/upload/v1617211528/urn_aaid_sc_US_7351386a-35ed-424b-a70e-62ca29f89123_bnz8tz.png');
  background-repeat: none;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
 
  > div {
    img {
      max-width: 500px;
      display: block;
      padding: 0;
      margin: 0 auto;
    }
    #volta {
      max-width: 600px;
    }
  }
}

.hero--still--wave {
  display: block;
  width: 100%;
  height: 100px;
  background-color:black;
  border-top: 2px solid #C148A5;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    position: relative;
    width: 50%;
    margin-top: -111px;
    max-width: 800px;
  }
}
