#hero--container {
  padding-top: 105px;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  position: relative;
  video {
    height: 100%;
    width: 100%;
  }
  #hero--vivus {
    position: absolute;
    svg {
      width: 25vw;
      @media screen and (max-width: 1200px) {
        width: 33vw;
      }
      path.st0 {
        transition: fill 0.2s ease-in !important;
        fill: transparent !important;
      }
    }
    &.active {
      svg {
        path.st0 {
          stroke: transparent !important;
          fill: white !important;
        }
      }
    }
  }
}
.box{
  &.visible {
    #home--section--one {
      p {
        opacity: 1;
      }
    }
  }
}

#home--section--one {
  padding: 3rem;
  text-align: center;
  background: #070707;
  h1 {
    font-weight: 700;
    letter-spacing: 1px;
    background: linear-gradient(90deg, rgba(215,53,1,1) 0%, rgba(255,190,118,1) 20%, rgba(246,229,141,1) 50%, rgba(255,190,118,1) 80%, rgba(215,53,1,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  p {
    text-align: center;
    opacity: 0;
    transition: 0.3s ease-in;
    color: white;
    font-size: 1.5rem;
  }
}
