#hero--container {
  padding-top: 105px;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  position: relative;
  video {
    height: 100%;
    width: 100%;
  }
  #hero--vivus {
    position: absolute;
    svg {
      path.st0 {
        transition: fill 0.2s ease-in !important;
        fill: transparent !important;
      }
    }
    &.active {
      svg {
        path.st0 {
          stroke: transparent !important;
          fill: white !important;
        }
      }
    }
  }
}

.test {
  height: 100vh;
  background: red;
}