div#home--section--three {
    .text--container {
        min-height: 100px;
    }

    .box {
        &.seen {
            h1 {
                opacity: 1;
            }

            .grid-img {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
    @media screen and (max-width: 768px) {
        padding: 2rem;
        padding-top: 15rem;
    }
}



.grid-container * {
    border: 2px solid #070707;
}

.grid-container div:after {
    color: #888;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: arial;
}

.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    a {
        border: 0 !important;
    }
}

.item--container {
    > div {
        position: relative;
        &.seen {
            &:hover {
                cursor: pointer;
                p {
                    opacity: 1;;
                }
            }
        }
    }
}

.grid-img {
    width: 100%;
    height: auto;
    opacity: 0;
    min-height: 600px;
    background-position: center;
    background-size: cover;
    // transform: translateY(100px);
    transition: all 2s cubic-bezier(.19, 1, .22, 1);
    div {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background: rgba(0,0,0,0.5);
        opacity: 0;
        transition: all 2s cubic-bezier(.19, 1, .22, 0.5);
        &:hover {
            opacity: 1;
        }
        p {
            font-weight: 600;
            font-size: 1.25em;
            margin: auto;
            width: 100%;
            color: white;
            font-weight: 100;
            letter-spacing: 2px;
            padding: 0;
            border: 0;
        }
    
    }
}

@media screen and (max-width: 1200px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
    .grid-img {
        min-height: 500px;
    }
}

@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
    .grid-img {
        min-height: 300px;
    }
    .three--container {
        padding: 5rem 0;
    }
}

@media screen and (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

.one--row.grid-container {
    height: 800px;
}

.two-row.grid-container {
    height: 1300px;
}

@media screen and (max-width: 768px) {
    .one--row.grid-container {
        height: auto;
    }
    .two-row.grid-container {
        height: auto;
    }
}