#home--section--one {
  background-image: linear-gradient(#000, #070707);
  .button--container {
    margin-top: 8rem;
    button {
      background: none;
      border-color: white;
      transition: 0.1s ease-in;
      font-weight: 700 !important;
      &:hover {
        background: #d73501;
        border-color: #d73501;
        color: #070707;
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding: 2rem;
    padding-top: 4rem;
    min-height: 500px;
    .button--container {
      margin-top: 300px;
    }
  }
}


#home--section--one.still {
  min-height: 250px;
  border-bottom: 1px solid #5A5A5A;
  span {
    font-family: 'Gotham-Light', cursive;
    font-size: 60px;
    line-height: 60px !important;
  }
  span.light {
    color: #FFFFFFB3;
  }
}