#home--section--one {
  background-image: linear-gradient(#000, #070707);
  .button--container {
    margin-top: 8rem;
    button {
      background: none;
      border-color: white;
      transition: 0.1s ease-in;
      font-weight: 700 !important;
      &:hover {
        background: #d73501;
        border-color: #d73501;
        color: #070707;
      }
    }
  }
}
